.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222f3e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #fff;
  z-index: 3;
}
.modal span {
  margin-left: 350px;
  font-size: 20px;
  cursor: pointer;
}
.modal .formItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal .formItem :is(input, textarea) {
  height: 25px;
  margin-top: 5px;
}
.modal .formItem textarea {
  resize: vertical;
}
.modal button {
  background-color: #2ecc71;
  border: none;
  width: 100px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .modal {
    width: 340px;
  }
  .modal span {
    margin-left: 300px;
  }
}
