.navbar {
  background-color: #222f3e;
  color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #fff;
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
}
.navbar a {
  color: #fff;
  font-size: 24px;
}
.navbar ul a {
  font-size: 20px;
  margin-right: 20px;
}
.createButton {
  border: none;
  width: 100px;
  height: 40px;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.logout {
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: #ff5252;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 425px) {
  .navbar ul a {
    display: none;
  }
}
